<h1>@<%= @user.username %>'s Twitter Feed</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<% unless current_user.id == @user.id %>
  <% if current_user.following.include?(@user.id) %>
    <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
  <% end %>
<% end %>

<ul>
  <% @user.tweets.each do |tweet| %>
    <li>@<%= tweet.user.username %>:: <%= tweet.message.html_safe %> </li>
  <% end %>
</ul>
